@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: roboto;
    background-color: gray;
    margin: 0px;
}

.nav-bar {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}

.nav-bar a:hover{
    background-color: rgb(116, 116, 116);
}

.active {
    background-color: darkgray;
}